button{
    border: none;
    padding: 5px 10px;
}
button:hover{
    opacity: 0.8;
}
.mat-primary{
    margin-left: 10px;
}
input{
    display: block;
}
mat-icon{
    position: relative;
    top:6px;
}